<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsAlumnosSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wsAlumnosSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44338/wsAlumnos.asmx" binding="basicHttpBinding"
                bindingConfiguration="wsAlumnosSoap" contract="WebService.wsAlumnosSoap"
                name="wsAlumnosSoap" />
        </client>
    </system.serviceModel>
</configuration>